* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 500px;
    padding: 0;
    margin: 0;
    background-color: rgb(236, 234, 234);
}

.lists {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    perspective: 500;
    -webkit-perspective: 5000;
}

.list_item {
    width: 100%;
    height: 45px;
    padding-top: 7px;
    padding-left: 7px;
    background-color: #fff;
    border: 1px solid #666;
    border-bottom: 0;
    transition: all .25s;
}

.list_item:hover {
    border-bottom: 1px solid #666;
    transform: translateZ(100px);
}

.lists:last-child {
    border-bottom: 1px solid #666;
}

.list_item a {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 18px;
    text-decoration: none;
}