.lists {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.list_item {
    width: 100%;
    height: 45px;
    padding-top: 7px;
    padding-left: 7px;
    background-color: #ccc;
    border: 1px solid #fff;
}

.list_item a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}